infura.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>59e21e88-43bb-38f3-71df-29eec2252f42</groupId>
    <name>infura</name>
    <snippet>
        <connections>
            <id>0b644a07-321f-3e72-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>54e1cb0f-e770-39e9-af9d-b3431b5afef9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>7d56d6be-09d8-3633-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e534424-b769-3278-9ea0-507016123d0c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>c54ae5c0-52b4-3b9e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2165caae-a180-3585-ba07-9b6df441279d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1bef3792-993f-3114-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>9c899a48-c418-37c7-9b57-e34e1e432af5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>530653b1-e040-3bb5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d8590873-b7fe-33bc-990d-0168294f564a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>a3fc152d-fd2e-3a6f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b46153d2-9990-31d9-b6b2-2eee82efc578</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>27223a9a-c8d6-382b-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>8b908751-dfe9-3c5d-9f33-d68d3ef7ce3d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>5a5d1dcb-1e21-37a4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>62d63246-6ad8-3b30-82d6-037c121a6b1c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>4fbe6270-37ba-3ccf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8402aef2-dac1-3453-93d8-f439b7c0072e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3ad47dd4-42ec-354e-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>48b0f25d-1707-304e-ab67-e14d04ecffba</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>7c3e64b7-c121-3820-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>812b791f-e1c0-3b3b-9149-f27700c56997</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>7d56d6be-09d8-3633-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e534424-b769-3278-9ea0-507016123d0c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>50930991-0768-374b-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>52825791-9f53-3277-b887-fe1ead9efb1a</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>f357d9b2-e465-3dcc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d25990d2-d201-3f11-81eb-f3fd78b077c5</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>61fff40a-099a-3212-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>01732e69-8b83-3f24-bec1-0a5ec5ccfe93</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7a9d029d-652d-39d1-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>b1e2450d-ab60-3da9-add8-0828db3bc3fc</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>deaab3e5-7c64-3801-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>991a1720-562d-334c-ae27-2cbdce134e95</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>5a5d1dcb-1e21-37a4-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>62d63246-6ad8-3b30-82d6-037c121a6b1c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7ade43c3-16e6-375c-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>c956b9de-8d5a-3dd3-ad56-f4ea53721a1f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>ba25a345-dc96-3fb9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>cb743933-8540-3a61-9fbc-2e967742fa7e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>530653b1-e040-3bb5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d8590873-b7fe-33bc-990d-0168294f564a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7d8759db-4f2a-3100-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>57d91656-0ba9-374d-9420-68fef880513b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>61fff40a-099a-3212-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>01732e69-8b83-3f24-bec1-0a5ec5ccfe93</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>7895dd2a-ceaa-3ed1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61f48a17-b940-3fed-8b7e-cb246fe5232d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b5444c4b-6405-319a-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>89b75777-344b-3628-8a87-02ab0e1dc7f4</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>e8dca546-2726-38ec-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8a820b0c-3db8-3e94-833e-df3701496fdc</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>43cc504a-2d66-31f7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0fbd18f3-6d0c-34eb-bd3f-716d8fe0cc0f</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c767b946-ee39-37a0-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>1df25adb-c3c6-31ed-aa4a-d73434a10316</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>089fc53b-7224-324a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ee3b0e5e-6aa4-341c-956d-92ebab9a04b4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>97765a61-16d4-3c8b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>42a9951c-db6f-3b6a-aeae-3c97b361d051</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e4a295d0-e7cc-3b09-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>5dfc20d8-4d33-39da-acc2-6bdc8cfe64b9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>089ed7f6-04cc-3a72-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6f42976b-3df2-3c3c-ba32-a588d3f52686</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>089fc53b-7224-324a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ee3b0e5e-6aa4-341c-956d-92ebab9a04b4</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ffef3913-56a9-35ff-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>93727111-71db-3668-a00f-b87c4df5c588</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>891b9ccf-d1e4-3c61-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ba2faa3c-0d07-35be-9a53-4dba3d2985db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>caad8399-a7d0-3f26-0000-000000000000</groupId>
                <id>e8dca546-2726-38ec-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8a820b0c-3db8-3e94-833e-df3701496fdc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>77593955-dc52-3514-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <versionedComponentId>ad623214-fefa-3fc6-b0e4-c33398529dfa</versionedComponentId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/usr/jdk64/jdk1.8.0_112/jre/lib/security/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <labels>
            <id>2e0f098b-995c-394a-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3755.0000000000005</x>
                <y>345.9998779296875</y>
            </position>
            <versionedComponentId>e21a3e29-179b-3d8f-92cd-32cae21a4d7e</versionedComponentId>
            <height>580.0</height>
            <label>Get a block</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>574.0</width>
        </labels>
        <labels>
            <id>561024e9-7b27-3b4c-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>381.9999694824219</y>
            </position>
            <versionedComponentId>96be6116-eebc-3366-8d28-8d5fdbfa2a99</versionedComponentId>
            <height>118.99999237060547</height>
            <label>Get Ticker Symbols From Infura</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>665.0</width>
        </labels>
        <labels>
            <id>a3195956-9626-3d80-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>1644.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>8e6d04c3-5732-3082-9acb-178060cc3484</versionedComponentId>
            <height>580.0</height>
            <label>{
  "base" : "ETH",
  "quote" : "BTC",
  "tickers" : [ {
    "bid" : 0.08369,
    "ask" : 0.0837,
    "volume" : 6205.62548533,
    "timestamp" : 1526674066,
    "exchange" : "gdax"
  }, {
    "bid" : 0.08361,
    "ask" : 0.08373,
    "volume" : 2495.12202201,
    "timestamp" : 1526674066,
    "exchange" : "gemini"
  }, {
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>574.0</width>
        </labels>
        <labels>
            <id>b8d2d99f-9485-3793-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3016.0000000000005</x>
                <y>233.99993896484375</y>
            </position>
            <versionedComponentId>7075f92d-665d-32de-bfb2-31a767314699</versionedComponentId>
            <height>580.0</height>
            <label>Blacklist v2

</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>574.0</width>
        </labels>
        <labels>
            <id>b96db9d6-467c-341f-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>2301.0</x>
                <y>197.99993896484375</y>
            </position>
            <versionedComponentId>ba53a857-2e6e-3b85-b1a6-90a60e0806c5</versionedComponentId>
            <height>580.0</height>
            <label>Blacklist v1
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>574.0</width>
        </labels>
        <labels>
            <id>cd97c613-fe46-3a94-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>750.0</x>
                <y>114.00001525878906</y>
            </position>
            <versionedComponentId>bcf4826f-ae4e-3b03-81d3-439983fc2e5d</versionedComponentId>
            <height>328.0</height>
            <label>{
  "base" : "ETH",
  "quote" : "BTC",
  "bid" : 0.083761,
  "ask" : 0.083837,
  "volume" : 106907.225,
  "exchange" : "binance",
  "total_volume" : 196017.49461277,
  "num_exchanges" : 11,
  "timestamp" : 1526673908
}</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>698.0</width>
        </labels>
        <labels>
            <id>ead6ea8a-3fb9-3e16-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>4574.0</x>
                <y>690.9999084472656</y>
            </position>
            <versionedComponentId>80165802-accc-3b2f-b207-ffcf0dc03e63</versionedComponentId>
            <height>150.0</height>
            <label>TODO:  JSON-RPC

https://blog.infura.io/getting-started-with-infura-28e41844cc89
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>150.0</width>
        </labels>
        <processors>
            <id>089ed7f6-04cc-3a72-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3811.0000000000005</x>
                <y>1494.9999084472656</y>
            </position>
            <versionedComponentId>6f42976b-3df2-3c3c-ba32-a588d3f52686</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>089fc53b-7224-324a-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3787.0331878662114</x>
                <y>1239.9998950958252</y>
            </position>
            <versionedComponentId>ee3b0e5e-6aa4-341c-956d-92ebab9a04b4</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>43cc504a-2d66-31f7-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3049.0331878662114</x>
                <y>848.9999542236328</y>
            </position>
            <versionedComponentId>0fbd18f3-6d0c-34eb-bd3f-716d8fe0cc0f</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v2/blacklist</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('blacklist2.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1200 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API Blacklist v1</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>4fbe6270-37ba-3ccf-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>208.0</x>
                <y>519.9999675750732</y>
            </position>
            <versionedComponentId>8402aef2-dac1-3453-93d8-f439b7c0072e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v1/ticker/symbols</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('infurasymbols.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>530653b1-e040-3bb5-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>786.0331878662109</x>
                <y>786.0000324249268</y>
            </position>
            <versionedComponentId>d8590873-b7fe-33bc-990d-0168294f564a</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>5a5d1dcb-1e21-37a4-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>212.0</x>
                <y>790.0</y>
            </position>
            <versionedComponentId>62d63246-6ad8-3b30-82d6-037c121a6b1c</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>61fff40a-099a-3212-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>2333.033187866211</x>
                <y>1091.9999561309814</y>
            </position>
            <versionedComponentId>01732e69-8b83-3f24-bec1-0a5ec5ccfe93</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7895dd2a-ceaa-3ed1-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>2522.033187866211</x>
                <y>829.9999542236328</y>
            </position>
            <versionedComponentId>61f48a17-b940-3fed-8b7e-cb246fe5232d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v1/blacklist</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('blacklist1.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1200 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API Blacklist v1</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>7c3e64b7-c121-3820-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>1668.0</x>
                <y>1158.6663398742676</y>
            </position>
            <versionedComponentId>812b791f-e1c0-3b3b-9149-f27700c56997</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>
                            <name>ethbtc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>
                            <name>ethbtc_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>
                            <name>ethusd</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>
                            <name>ethusd_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>
                            <name>message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>
                            <name>status</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>$.result.ethbtc</value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>$.result.ethbtc_timestamp</value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>$.result.ethusd</value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>$.result.ethusd_timestamp</value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>$.message</value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>$.status</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>7d56d6be-09d8-3633-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>1676.033187866211</x>
                <y>894.0000171661377</y>
            </position>
            <versionedComponentId>9e534424-b769-3278-9ea0-507016123d0c</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>891b9ccf-d1e4-3c61-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3072.0000000000005</x>
                <y>1382.9999694824219</y>
            </position>
            <versionedComponentId>ba2faa3c-0d07-35be-9a53-4dba3d2985db</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>97765a61-16d4-3c8b-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3788.0331878662114</x>
                <y>960.9998931884766</y>
            </position>
            <versionedComponentId>42a9951c-db6f-3b6a-aeae-3c97b361d051</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v1/jsonrpc/mainnet/eth_blockNumber?token=USjEC0HQMNmZv7QEs8zl</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('blocknum.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API Get a block</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>a3fc152d-fd2e-3a6f-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>787.0331878662109</x>
                <y>507.0000305175781</y>
            </position>
            <versionedComponentId>b46153d2-9990-31d9-b6b2-2eee82efc578</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v1/ticker/ethbtc</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('ethbtc.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API ETHBTC</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>ba25a345-dc96-3fb9-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>778.0</x>
                <y>1050.6663551330566</y>
            </position>
            <versionedComponentId>cb743933-8540-3a61-9fbc-2e967742fa7e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>
                            <name>ethbtc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>
                            <name>ethbtc_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>
                            <name>ethusd</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>
                            <name>ethusd_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>
                            <name>message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>
                            <name>status</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>$.result.ethbtc</value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>$.result.ethbtc_timestamp</value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>$.result.ethusd</value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>$.result.ethusd_timestamp</value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>$.message</value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>$.status</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>c54ae5c0-52b4-3b9e-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>1677.033187866211</x>
                <y>615.0000152587891</y>
            </position>
            <versionedComponentId>2165caae-a180-3585-ba07-9b6df441279d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://api.infura.io/v1/ticker/ethbtc/full</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('ethbtcfull.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>77593955-dc52-3514-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-ethereum</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Infura Ethereum API ETHBTC FULL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>deaab3e5-7c64-3801-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>222.96681213378906</x>
                <y>1059.6663227081299</y>
            </position>
            <versionedComponentId>991a1720-562d-334c-ae27-2cbdce134e95</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>
                            <name>ethbtc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>
                            <name>ethbtc_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>
                            <name>ethusd</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>
                            <name>ethusd_timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>
                            <name>message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>
                            <name>status</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>ethbtc</key>
                        <value>$.result.ethbtc</value>
                    </entry>
                    <entry>
                        <key>ethbtc_timestamp</key>
                        <value>$.result.ethbtc_timestamp</value>
                    </entry>
                    <entry>
                        <key>ethusd</key>
                        <value>$.result.ethusd</value>
                    </entry>
                    <entry>
                        <key>ethusd_timestamp</key>
                        <value>$.result.ethusd_timestamp</value>
                    </entry>
                    <entry>
                        <key>message</key>
                        <value>$.message</value>
                    </entry>
                    <entry>
                        <key>status</key>
                        <value>$.status</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>e8dca546-2726-38ec-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>3048.0331878662114</x>
                <y>1127.9999561309814</y>
            </position>
            <versionedComponentId>8a820b0c-3db8-3e94-833e-df3701496fdc</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>
                            <name>content-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>
                            <name>media.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>
                            <name>media-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>content-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>media-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>f357d9b2-e465-3dcc-0000-000000000000</id>
            <parentGroupId>caad8399-a7d0-3f26-0000-000000000000</parentGroupId>
            <position>
                <x>2357.0000000000005</x>
                <y>1346.9999694824219</y>
            </position>
            <versionedComponentId>d25990d2-d201-3f11-81eb-f3fd78b077c5</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
    </snippet>
    <timestamp>05/28/2019 11:32:06 EDT</timestamp>
</template>
