sowochain.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>8fd75aae-8210-3d05-19f6-7574a0678b33</groupId>
    <name>sowochain</name>
    <snippet>
        <connections>
            <id>196b2519-7cef-3749-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>7005e361-a7d9-3e1b-9ed8-1e6e254ec2d5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1ed90915-00c1-3c6b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6bb268d1-fc25-3b9b-a70a-43871bbd76a9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>cd3822fa-0fee-3ab7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3c81696a-0c78-355b-bd48-9a0ca60960e2</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1d8678be-b3b4-3033-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>375bff1e-293e-31fa-8a40-e7d4c490ccfd</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>9d3cb0a7-5746-3c64-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>69082254-0c4b-35ff-9d3a-bed93a4d71e8</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>connected</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>5ecdfaf6-e64c-3c1a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e45f9d24-4e26-3037-9bb1-ac391eb09e0c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1f97073f-b849-3ec8-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>23e534c1-260d-345f-844e-d51216765fb0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>d0b764c9-0215-3cc7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d00f7020-5ee5-36de-bfc3-06d6d7294148</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>49d7185b-9ee2-33e6-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>65a31365-e499-34ca-8de3-3807d283d56d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>29ea7e7f-96a9-3089-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>de4fb231-552e-34f7-bf74-4910a67032d6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>9461c379-605c-30f3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8458976a-b6b6-38bc-8505-4ade4f6a96ce</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>2847a92a-8776-35fc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f16b08a0-d950-3575-bee3-27790628d5b0</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2cd3b621-24dd-343d-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>b923a68b-905d-3b50-8654-44c5b4caa8cd</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>078b5fe1-1f3a-3279-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93bd54c5-d14a-3e17-8636-b82b123cb902</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>ea6c0bd6-3b11-3c58-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e0789d4d-2d91-3d23-9ce3-4f3dcd97e89e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>32ba0a9f-2362-3137-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>35c6dddf-e121-34c2-9888-aa11aeaee874</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>7307c579-c6e6-3194-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>be5c82ce-e034-3d71-b3cd-568a749e4771</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>c60a4d2c-2110-38fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>549b9095-811a-37e0-b992-ad83b8fa5ddf</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3b7c5675-3597-36d3-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>675c4d80-eec6-3279-acf6-ec5d7089a020</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1775c01d-3f54-3916-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>720b25d3-c253-3d38-81bc-f0810a5e2b68</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>8b4b0fe6-da58-3202-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>383b4d89-8257-38f8-ac28-89e62f4fe760</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>45ad47bd-0f0b-3bd3-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>3f64195e-3c17-3830-be6b-c4330502feb2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>cd3822fa-0fee-3ab7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3c81696a-0c78-355b-bd48-9a0ca60960e2</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>ad60ab47-1e60-31e1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4c227972-b3eb-3257-b04d-bf0f0635892a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>493622c7-992b-395c-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>b86544cc-4bde-3f79-9921-afd943354d23</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1ed90915-00c1-3c6b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6bb268d1-fc25-3b9b-a70a-43871bbd76a9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>c8f70283-1c14-3a99-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>fd7d46be-f61c-3f60-8d06-40ef9f2ca796</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4cdb49c7-f17a-3444-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>ffb08eac-03f5-3327-8652-d097c556995b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>3b55653c-be38-3432-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>64ff1cc4-52e2-37ba-beda-749b0d827dfe</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>022dd213-74ac-384b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1905356a-2b39-37fc-a7f9-22c850548388</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b803e1b-c8a4-374d-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>5033ff1c-df27-3f9c-a7ca-947a24357c10</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>7d8eb24c-eeb3-3df0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e1fffa39-bc4d-3a94-b08f-e495037b6876</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>078b5fe1-1f3a-3279-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>93bd54c5-d14a-3e17-8636-b82b123cb902</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6c860c75-68c3-32fd-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>b4940f84-6a3e-3b20-87bf-8db6d8acd360</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>7697b4db-470f-3e2b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bf97e816-65fa-3141-8a98-6c4be47a6e8c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>binary message</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>5ecdfaf6-e64c-3c1a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e45f9d24-4e26-3037-9bb1-ac391eb09e0c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7734bd2f-93a7-3fda-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>774b164e-da67-30e0-ba33-b8af60b456ac</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>e1c03e74-411f-3c49-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>98d5330e-37f2-3501-a091-8baf8901e500</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>f84e1566-e6f1-31d5-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5ce016cb-fded-3c22-9add-b3b546c3ad6e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7c5c55dd-a12c-3877-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>88fc9647-5106-3067-9f1c-6b8bdb1bff47</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>0af9ca39-3626-3699-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>62ae357f-d6a3-3f57-a21d-b670ee2f14fe</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>text message</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>5ecdfaf6-e64c-3c1a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e45f9d24-4e26-3037-9bb1-ac391eb09e0c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7c7bb882-38c0-3967-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>13896edd-e5f0-3a6b-9a9a-bef81602b150</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1f71ab09-c075-3f5f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61bba58f-8529-37cd-ae4d-6e4c42643c10</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>0af9ca39-3626-3699-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>62ae357f-d6a3-3f57-a21d-b670ee2f14fe</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>80977148-1e83-3e66-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>b30947d3-0ef7-3ed8-b809-5dcfb2416c0f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>ad60ab47-1e60-31e1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4c227972-b3eb-3257-b04d-bf0f0635892a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>48b11052-4bf7-3304-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3ae7ed85-0412-3d75-af8b-5195cd365db1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8147dc22-fd4e-3fe5-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>018f2aad-dc89-31ae-a1ba-6a97c7c15c78</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1ed90915-00c1-3c6b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6bb268d1-fc25-3b9b-a70a-43871bbd76a9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>9461c379-605c-30f3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8458976a-b6b6-38bc-8505-4ade4f6a96ce</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>828eaaa8-bcec-3b6e-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>5df743a3-26e0-390a-af34-da9c74ffc2c2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>022dd213-74ac-384b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1905356a-2b39-37fc-a7f9-22c850548388</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1f71ab09-c075-3f5f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61bba58f-8529-37cd-ae4d-6e4c42643c10</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>90b35c7e-f05f-3c28-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>989be891-5795-3494-b278-edcc506c06b6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>48b11052-4bf7-3304-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3ae7ed85-0412-3d75-af8b-5195cd365db1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>49d7185b-9ee2-33e6-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>65a31365-e499-34ca-8de3-3807d283d56d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>95badb53-1db2-3ba1-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>45de9062-399b-3964-9e88-6400629958d7</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>49d7185b-9ee2-33e6-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>65a31365-e499-34ca-8de3-3807d283d56d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>1775c01d-3f54-3916-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>720b25d3-c253-3d38-81bc-f0810a5e2b68</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a80c4ae8-154d-34bd-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>3cf660d3-04e8-3e09-833e-634e046b3cd8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>8b4b0fe6-da58-3202-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>383b4d89-8257-38f8-ac28-89e62f4fe760</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>ea6c0bd6-3b11-3c58-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e0789d4d-2d91-3d23-9ce3-4f3dcd97e89e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b04cc50f-977e-3205-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>f25911be-ee28-3792-ac40-894b7df6270d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <bends>
                <x>2922.3788569260355</x>
                <y>1024.4033185651751</y>
            </bends>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>3b55653c-be38-3432-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>64ff1cc4-52e2-37ba-beda-749b0d827dfe</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>022dd213-74ac-384b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1905356a-2b39-37fc-a7f9-22c850548388</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c1185682-e70e-3264-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>0e541d8a-acf2-3a2c-ba5f-e03927ecc167</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>2847a92a-8776-35fc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f16b08a0-d950-3575-bee3-27790628d5b0</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>d0b764c9-0215-3cc7-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d00f7020-5ee5-36de-bfc3-06d6d7294148</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>da420833-3dd3-3651-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>c0607f23-5b3c-3bc4-9557-1051672e3d3d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>8717a67e-8234-3f6f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>22886bd4-c6be-3299-b46d-945cfc425a2f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>7d8eb24c-eeb3-3df0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e1fffa39-bc4d-3a94-b08f-e495037b6876</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f71158fb-8feb-3c11-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>4451a5ca-564a-39a4-b412-9e7590038998</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>63a36ed4-b2f1-3013-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09025acc-3a9b-377c-bb55-f13feac83738</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>7d3b4af4-b907-33d8-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a27b4cf7-79ca-3796-8968-849425df9ed3</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fc6cb454-1d81-30e6-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>6f439a3f-32e3-3ddb-ae68-5f285e13f100</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>120000</backPressureObjectThreshold>
            <destination>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>ea6c0bd6-3b11-3c58-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e0789d4d-2d91-3d23-9ce3-4f3dcd97e89e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>96505726-8f17-3bf9-0000-000000000000</groupId>
                <id>8662e278-03c0-3d64-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6f0bd16a-abee-344c-9e47-b16df517fb5c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>516fa60c-f637-348e-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>d1189b7d-8489-322b-87bb-6a061e247b40</versionedComponentId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/Library/Java/Home/jre/lib/security/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>70d1ebce-4af0-35a1-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <versionedComponentId>2920211b-9b93-3cfb-b91c-c9174b8b92af</versionedComponentId>
            <bundle>
                <artifact>nifi-websocket-services-jetty-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>input-buffer-size</key>
                    <value>
                        <name>input-buffer-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>
                        <name>max-text-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>
                        <name>max-binary-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>
                        <name>websocket-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>
                        <name>connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>
                        <name>session-maintenance-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>
                        <name>user-name</name>
                    </value>
                </entry>
                <entry>
                    <key>user-password</key>
                    <value>
                        <name>user-password</name>
                    </value>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>
                        <name>authentication-charset</name>
                    </value>
                </entry>
            </descriptors>
            <name>JettyWebSocketClient SoChain</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>input-buffer-size</key>
                    <value>4 kb</value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>wss://slanger1.chain.so:443/app/e9f5cc20074501ca7395?client=js&amp;version=2.1.6&amp;protocol=5</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>516fa60c-f637-348e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>3 sec</value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>10 sec</value>
                </entry>
                <entry>
                    <key>user-name</key>
                </entry>
                <entry>
                    <key>user-password</key>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>US-ASCII</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
        </controllerServices>
        <labels>
            <id>3dd750a6-297f-3528-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1473.9363811594933</x>
                <y>1324.9641602652714</y>
            </position>
            <versionedComponentId>8d77d93a-9fa9-3b72-abc7-d62889f59fd6</versionedComponentId>
            <height>507.4519500732422</height>
            <label>"txs" : [
      {
        "txid" : "b22aef47a02f8f325f158ffc9ecdb7996b8e6ffe5c8730bcbe9dd9f1880bc9c3",
        "fee" : "0.00000000",
        "inputs" : [
          {
            "input_no" : 0,
            "address" : "coinbase",
            "value" : "12.55142179",
            "received_from" : null
          }
        ],
        "outputs" : [
          {
            "output_no" : 0,
            "address" : "1FVKW4rp5rN23dqFVk2tYGY4niAXMB8eZC",
            "value" : "12.43845900",
            "spent" : null
          },
          {
            "output_no" : 1,
            "address" : "nulldata",
            "value" : "0.00000000",
            "spent" : null
          },
          {
            "output_no" : 2,
            "address" : "137YB5cpBLxLKvy8T6qXsycJ699iJjWCHH",
            "value" : "0.11296279",
            "spent" : null
          }
        ]
      },</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>590.2515258789062</width>
        </labels>
        <labels>
            <id>43bd568e-cc6d-3e7e-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2406.8788531113382</x>
                <y>61.403326194569615</y>
            </position>
            <versionedComponentId>e3515b9d-cec2-3370-b5b2-16c33199f7ac</versionedComponentId>
            <height>52.0</height>
            <label>https://chain.so/   FREE API  5 reqs/sec</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6e6ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>513.0</width>
        </labels>
        <labels>
            <id>d838662e-e4cc-3b21-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1542.5996709698793</x>
                <y>981.6485537320382</y>
            </position>
            <versionedComponentId>ba0fc052-809e-3ed2-af43-d74513addd9b</versionedComponentId>
            <height>307.5211944580078</height>
            <label>  "status" : "success",
  "data" : {
    "network" : "BTC",
    "block_no" : 559950,
    "confirmations" : 1,
    "miner" : "Unknown",
    "miner_url" : null,
    "version" : 549453824,
    "time" : 1548362873,
    "sent_value" : "3977.10078351",
    "fee" : "0.05142179",
    "mining_difficulty" : "5883988430955.408",
    "nonce" : 1358814296,
    "bits" : "172fd633",
    "size" : 470242,
    "blockhash" : "0000000000000000001c68f61ddcc30568536a583c843a7d0c9606b9582fd7e5",
    "merkleroot" : "41eb6f68477e96c9239ae1bbe4e5d4d02529c6f7faebc4ad801730d09609a0ef",
    "previous_blockhash" : "0000000000000000001b2b3d3b5741462fe31981a6c0ae9335ed8851e936664b",
    "next_blockhash" : null,
    "txs" : [
      {</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>639.7294158935547</width>
        </labels>
        <labels>
            <id>f2fc57ea-1c66-3903-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>8faeb669-1b6e-3f32-9ed5-869c33b5dea1</versionedComponentId>
            <height>95.85007572174072</height>
            <label>chain.so REST API</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#dbd6ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>2559.671859741211</width>
        </labels>
        <processors>
            <id>022dd213-74ac-384b-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2952.8788607407328</x>
                <y>834.4033109357806</y>
            </position>
            <versionedComponentId>1905356a-2b39-37fc-a7f9-22c850548388</versionedComponentId>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>
                            <name>websocket-session-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>
                            <name>websocket-controller-service-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>
                            <name>websocket-endpoint-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>
                            <name>websocket-message-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>${websocket.session.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>${websocket.controller.service.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>${websocket.endpoint.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>TEXT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutWebSocket</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
        </processors>
        <processors>
            <id>078b5fe1-1f3a-3279-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>402.448558486765</x>
                <y>573.8447044908</y>
            </position>
            <versionedComponentId>93bd54c5-d14a-3e17-8636-b82b123cb902</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>
                            <name>schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>chainsoinfo</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>chainsoinfo</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>0af9ca39-3626-3699-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2322.8788531113382</x>
                <y>393.4033261945696</y>
            </position>
            <versionedComponentId>62ae357f-d6a3-3f57-a21d-b670ee2f14fe</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>1775c01d-3f54-3916-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>933.9201750569591</x>
                <y>724.2612111038973</y>
            </position>
            <versionedComponentId>720b25d3-c253-3d38-81bc-f0810a5e2b68</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                        <value>
                            <name>Trusted Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://chain.so/api/v2/block/BTC/${block_no}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>516fa60c-f637-348e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Get Block Data for that coin, Most Recent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>1ed90915-00c1-3c6b-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>811.0605089951273</x>
                <y>1990.8919660261126</y>
            </position>
            <versionedComponentId>6bb268d1-fc25-3b9b-a70a-43871bbd76a9</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>1f71ab09-c075-3f5f-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2870.8788473892923</x>
                <y>572.4033109357806</y>
            </position>
            <versionedComponentId>61bba58f-8529-37cd-ae4d-6e4c42643c10</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>blockchain_update_btc</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Prepend</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>2847a92a-8776-35fc-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>653.008524596622</x>
                <y>1309.817779055938</y>
            </position>
            <versionedComponentId>f16b08a0-d950-3575-bee3-27790628d5b0</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.*</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson Inputs</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>3b55653c-be38-3432-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2941.8788531113382</x>
                <y>1084.4033261945697</y>
            </position>
            <versionedComponentId>64ff1cc4-52e2-37ba-beda-749b0d827dfe</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>48b11052-4bf7-3304-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1155.6209224017903</x>
                <y>1098.5359897457167</y>
            </position>
            <versionedComponentId>3ae7ed85-0412-3d75-af8b-5195cd365db1</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.data.txs[*].outputs</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson Outputs</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>49d7185b-9ee2-33e6-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1027.5903736072942</x>
                <y>907.2234694619574</y>
            </position>
            <versionedComponentId>65a31365-e499-34ca-8de3-3807d283d56d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>bits</key>
                        <value>
                            <name>bits</name>
                        </value>
                    </entry>
                    <entry>
                        <key>block_no</key>
                        <value>
                            <name>block_no</name>
                        </value>
                    </entry>
                    <entry>
                        <key>blockhash</key>
                        <value>
                            <name>blockhash</name>
                        </value>
                    </entry>
                    <entry>
                        <key>fee</key>
                        <value>
                            <name>fee</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merkleroot</key>
                        <value>
                            <name>merkleroot</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mining_difficulty</key>
                        <value>
                            <name>mining_difficulty</name>
                        </value>
                    </entry>
                    <entry>
                        <key>network</key>
                        <value>
                            <name>network</name>
                        </value>
                    </entry>
                    <entry>
                        <key>next_blockhash</key>
                        <value>
                            <name>next_blockhash</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nonce</key>
                        <value>
                            <name>nonce</name>
                        </value>
                    </entry>
                    <entry>
                        <key>previous_blockhash</key>
                        <value>
                            <name>previous_blockhash</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sent_value</key>
                        <value>
                            <name>sent_value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>size</key>
                        <value>
                            <name>size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>
                            <name>time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>bits</key>
                        <value>$.data.bits</value>
                    </entry>
                    <entry>
                        <key>block_no</key>
                        <value>$.data.block_no</value>
                    </entry>
                    <entry>
                        <key>blockhash</key>
                        <value>$.data.blockhash</value>
                    </entry>
                    <entry>
                        <key>fee</key>
                        <value>$.data.fee</value>
                    </entry>
                    <entry>
                        <key>merkleroot</key>
                        <value>$.data.merkleroot</value>
                    </entry>
                    <entry>
                        <key>mining_difficulty</key>
                        <value>$.data.mining_difficulty</value>
                    </entry>
                    <entry>
                        <key>network</key>
                        <value>$.data.network</value>
                    </entry>
                    <entry>
                        <key>next_blockhash</key>
                        <value>$.data.next_blockhash</value>
                    </entry>
                    <entry>
                        <key>nonce</key>
                        <value>$.data.nonce</value>
                    </entry>
                    <entry>
                        <key>previous_blockhash</key>
                        <value>$.data.previous_blockhash</value>
                    </entry>
                    <entry>
                        <key>sent_value</key>
                        <value>$.data.sent_value</value>
                    </entry>
                    <entry>
                        <key>size</key>
                        <value>$.data.size</value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>$.data.time</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>5ecdfaf6-e64c-3c1a-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2323.8788531113382</x>
                <y>169.40333382396415</y>
            </position>
            <versionedComponentId>e45f9d24-4e26-3037-9bb1-ac391eb09e0c</versionedComponentId>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
                            <name>websocket-client-controller-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>
                            <name>websocket-client-id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>70d1ebce-4af0-35a1-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>tx_update</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConnectWebSocket SoChain</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>binary message</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>connected</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>text message</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
        </processors>
        <processors>
            <id>63a36ed4-b2f1-3013-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>547.1362536240335</x>
                <y>294.89246956615165</y>
            </position>
            <versionedComponentId>09025acc-3a9b-377c-bb55-f13feac83738</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7307c579-c6e6-3194-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>144.0940298918215</x>
                <y>302.8222765763115</y>
            </position>
            <versionedComponentId>be5c82ce-e034-3d71-b3cd-568a749e4771</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7697b4db-470f-3e2b-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2946.8788531113382</x>
                <y>344.4033261945696</y>
            </position>
            <versionedComponentId>bf97e816-65fa-3141-8a98-6c4be47a6e8c</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>7d3b4af4-b907-33d8-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>553.7291010777485</x>
                <y>116.4399247092341</y>
            </position>
            <versionedComponentId>a27b4cf7-79ca-3796-8968-849425df9ed3</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://chain.so/api/v2/get_price/BTC/USD</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('btcusd.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>516fa60c-f637-348e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-chainso</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>60 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>BTC USD</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>7d8eb24c-eeb3-3df0-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>368.25876867452735</x>
                <y>788.7860593187766</y>
            </position>
            <versionedComponentId>e1fffa39-bc4d-3a94-b08f-e495037b6876</versionedComponentId>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>
                            <name>Schema Output Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>
                            <name>Input Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>
                            <name>CSV Header Definition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>
                            <name>Get CSV Header Definition From Data</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>
                            <name>CSV Header Line Skip Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>
                            <name>CSV Escape String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>
                            <name>CSV Quote String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>
                            <name>Pretty Avro Output</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>
                            <name>Avro Record Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>
                            <name>Number Of Records To Analyze</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>
                            <name>Charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>'</value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>${schema.name}</value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InferAvroSchema</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unsupported content</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
            <id>8662e278-03c0-3d64-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>946.8868159214985</x>
                <y>115.50655221167551</y>
            </position>
            <versionedComponentId>6f0bd16a-abee-344c-9e47-b16df517fb5c</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://chain.so/api/v2/get_info/BTC</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('btc.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>516fa60c-f637-348e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-chainso</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>45 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>so btc</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>8717a67e-8234-3f6f-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>280.02497450239</x>
                <y>1068.3790062486125</y>
            </position>
            <versionedComponentId>22886bd4-c6be-3299-b46d-945cfc425a2f</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>
                            <name>schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>chainsoinfo</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>chainsoinfo</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>8b4b0fe6-da58-3202-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>932.9174610096379</x>
                <y>515.6837355752386</y>
            </position>
            <versionedComponentId>383b4d89-8257-38f8-ac28-89e62f4fe760</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>block_no</key>
                        <value>
                            <name>block_no</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>block_no</key>
                        <value>$.data.blocks</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>9461c379-605c-30f3-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>621.3208119047338</x>
                <y>1534.8841942368936</y>
            </position>
            <versionedComponentId>8458976a-b6b6-38bc-8505-4ade4f6a96ce</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>
                            <name>schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>chainsotxinputinfo</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>chainsotxinputinfo</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>set input schema</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>9d3cb0a7-5746-3c64-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>2314.9187777329203</x>
                <y>783.1233274152728</y>
            </position>
            <versionedComponentId>69082254-0c4b-35ff-9d3a-bed93a4d71e8</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>ad60ab47-1e60-31e1-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1071.0456182177504</x>
                <y>1311.8371807845392</y>
            </position>
            <versionedComponentId>4c227972-b3eb-3257-b04d-bf0f0635892a</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.*</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson Outputs</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>c60a4d2c-2110-38fd-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>150.68687734553646</x>
                <y>124.36973171939388</y>
            </position>
            <versionedComponentId>549b9095-811a-37e0-b992-ad83b8fa5ddf</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://chain.so/api/v2/get_info/LTC</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('ltc.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>516fa60c-f637-348e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-chainso</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>20 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>so litecoin</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>c8f70283-1c14-3a99-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>295.31284582296485</x>
                <y>1800.313280998464</y>
            </position>
            <versionedComponentId>fd7d46be-f61c-3f60-8d06-40ef9f2ca796</versionedComponentId>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>
                            <name>Schema Output Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>
                            <name>Input Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>
                            <name>CSV Header Definition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>
                            <name>Get CSV Header Definition From Data</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>
                            <name>CSV Header Line Skip Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>
                            <name>CSV Escape String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>
                            <name>CSV Quote String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>
                            <name>Pretty Avro Output</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>
                            <name>Avro Record Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>
                            <name>Number Of Records To Analyze</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>
                            <name>Charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>'</value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>${schema.name}</value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>24 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InferAvroSchema</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unsupported content</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
            <id>cd3822fa-0fee-3ab7-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1096.6698109281713</x>
                <y>1510.4061668931436</y>
            </position>
            <versionedComponentId>3c81696a-0c78-355b-bd48-9a0ca60960e2</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>
                            <name>schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema</key>
                        <value>chainsotxoutputinfo</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>chainsotxoutputinfo</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>set schema</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>d0b764c9-0215-3cc7-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>694.4083979877278</x>
                <y>1105.8481235347792</y>
            </position>
            <versionedComponentId>d00f7020-5ee5-36de-bfc3-06d6d7294148</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.data.txs[*].inputs</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson Inputs</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
            <id>e1c03e74-411f-3c49-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1314.3990099716898</x>
                <y>290.0173856428118</y>
            </position>
            <versionedComponentId>98d5330e-37f2-3501-a091-8baf8901e500</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>ea6c0bd6-3b11-3c58-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>939.2912218857523</x>
                <y>329.0562345197649</y>
            </position>
            <versionedComponentId>e0789d4d-2d91-3d23-9ce3-4f3dcd97e89e</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>
                            <name>content.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>
                            <name>mime.type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>content.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>f84e1566-e6f1-31d5-0000-000000000000</id>
            <parentGroupId>96505726-8f17-3bf9-0000-000000000000</parentGroupId>
            <position>
                <x>1320.9918574254048</x>
                <y>111.56484078589426</y>
            </position>
            <versionedComponentId>5ce016cb-fded-3c22-9add-b3b546c3ad6e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://chain.so/api/v2/get_info/DOGE</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>${filename:append('doge.'):append(${now():format('yyyymmddHHMMSS'):append(${md5}):append('.json')})}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>516fa60c-f637-348e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>nifi-chainso</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>20 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>so doge</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
    </snippet>
    <timestamp>05/28/2019 11:31:25 EDT</timestamp>
</template>
